/* --------------------------------------------------- *\
	_general
\* --------------------------------------------------- */
body {
	background-color: #ffffff;
	margin: 0;
	font: normal 100% sans-serif;
}

h3 {
	font-size: 2.5em;
	margin: 0 0 1.25rem;
	font-family: Lora;
}

p {
	line-height: 1.5;
	font-size: 1.25em;
}





/* --------------------------------------------------- *\
	_header
\* --------------------------------------------------- */

header {
	margin: 5em 5em 2em;
	text-align: center;
}

header img {
	max-width: 37em;
	width: 100%;
}
.social {
	display: flex;
	justify-content: center;
}

.social a {
	display: inline-block;
	width: 5em;
	fill: #E8D5C7;
	position: relative;
	top: 0.7em;
	
	transition: all 0.2s ease;
}

.social a:hover {
	fill: #45565e;
}





/* --------------------------------------------------- *\
	_body
\* --------------------------------------------------- */

main {
	max-width: 46em;
	width: 100%;
	margin: 0 auto;
	padding-left: 2em;
	padding-right: 2em;
	box-sizing: border-box;
}

article {
	color: #333333;
	display: block;
	padding-top: 5em;
	padding-bottom: 15em;
	position: relative;
	margin: 0 auto;
}

article img {
	max-width: 42em;
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 1;
}

article:after {
	display: block;
	content: "";
	width: 7em;
	height: 8em;
	background-image: url(../images/stop.svg);
	position: absolute;
	left: 50%;
	margin-left: -3.5em;
	bottom: 1.5em;
	background-size: 100%;
	background-repeat: no-repeat;
}

.block {
	width: 100%;
	position: relative;
	padding-top: 100%;
	margin-bottom: 2.5em;
}

.copy {
	max-width: 40em;
	position: relative;
}

blockquote {
	font-family: Lora;
	line-height: 1.5;
	font-size: 1.5em;
	margin: 0 0 0 3.3em;
}

blockquote:before {
	content: '\201C';
	position: absolute;
	left: 0;
	top: -0.3em;
	font-size: 5.5em;
	font-family: Lora;
	color: #EA6D11;
	font-weight: bold;
}





/* --------------------------------------------------- *\
	_footer
\* --------------------------------------------------- */

footer {
	margin: 5em 0;
}





/* --------------------------------------------------- *\
	_responsive
\* --------------------------------------------------- */

@media all and (max-width: 42em) {
	header {
		margin-right: 2em;
		margin-left: 2em;
		margin-bottom: 1em;
	}
	
	article {
		padding-bottom: 8em;
	}
	
	article:after {
		width: 4em;
		height: 4em;
		margin-left: -2em;
		bottom: 2em;
	}
	
	blockquote {
		font-size: 1.2em;
	}
}

@media all and (max-width: 25em) {
	header {
		margin-right: 1em;
		margin-left: 1em;
		margin-bottom: 0;
	}
	
	.social a {
		width: 4em;
	}
	
	main {
		padding-left: 1em;
		padding-right: 1em;
	}
	
	article {
		padding-bottom: 6em;
	}
	
	article:after {
		bottom: 1em;
	}
	
	.block {
		margin-bottom: 1em;
	}
	
	blockquote {
		margin-left: 0;
		font-size: 1.1em;
	}
	
	blockquote:before {
		content: "";
	}
}
