@font-face {
	font-family: 'squada one';
	src: url('../fonts/squadaone-regular.woff2') format('woff2'),
		 url('../fonts/squadaone-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #808080;
	height: 100vh;
	margin: 0;
}

.font-load {
	position: absolute;
	text-indent: -100%;
	font-family: squada one;
}

#game {
	position: relative;
	display: inline-block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}